<h1 class="text-center">Portfolios</h1>

<div class="col-md-6">
  <ul class="list-group">
    <% @portfolios.each do |portfolio| %>
      <li class="list-group-item">
        <%= link_to portfolio_path(portfolio) do %>
          <strong><%= portfolio.name %></strong>
          &#9;<%= portfolio.description %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="col-md-6">
  <%= simple_form_for @portfolio, url: portfolio_index_path do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
