<!DOCTYPE html>
<html>
  <head>
    <title>Balance</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.keys.each do |key| %>
      <p><%= flash[key] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
